<h2>テーマ</h2>
<div class="category">
    <h2><%= @question.theme.name %></h2>
</div>
</br>
</br>
<div class="category">
    <h2> <%= %w[なぜ_____と思うのですか _____についてもっとくわしく教えてください _____であってもそういえますか？].sample %>
    </h2>
</div>