<h2>テーマ</h2>
</br>
<div class="category">
    <h1><%= @theme.name %></h1>
</div>
</br>
</br>

<p>今からテーマについて話してください。時間の目安は3分程度です。</br>
    自分の考えとその理由を話してください。</p>
</br>

</br>

<p>話し手の話が終わったら、他の人は一人ずつ、質問カードを引いて、話し手に質問してください。</p>


<div class="top-btn">
    <div class="top-btn2">
        <%= link_to '　質問カードをひく　', theme_questions_random_url(theme_id: @theme.id), class: 'btn btn-info' %>
    </div>

</div>