<h2>わたしたちの思い</h2>

<div class="img">
    <img class="about-img omoi" src="/akushu.jpg">
</div>
<h4>心を開いて、落ち着いて話し合うために</h4>

<div class="container container-m">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">

                <h2 class="card-title">おうちの人へ</h2>
                <h5 class="card-text">● 進路は子ども自身の問題</h5>
                <h5 class="card-text">● 親の価値観を押し付けずに</h5>
                <h5 class="card-text">● 親の価値観も掘り下げて伝えて</h5>
                <p class="card-text">

                    子どもの進路は親にとって、大きな関心事ですが、子どもの進路選択の結果は、子ども自身が責任を負っていくものです。</br>
                    親の価値観を押し付けず、子どもが自分で考え決断することをサポートしていきましょう。</br>

                    また、親が自分の考えを話すパートでは、茶化したり誤魔化したりせず、真剣に掘り下げて考えてみてください。</br>
                    親の価値観、人生観、職業観を聞くのは、子どもにとって貴重な機会です。
                    この時間が充実した時間となるようサポートしていきます。</p>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <h2 class="card-title">子どものみなさんへ</h2>
                <h5 class="card-text">● 自分の考えを整理してみて</h5>
                <h5 class="card-text">● 恥ずかしがらず諦めずに伝える</h5>
                <h5 class="card-text">● 親の考え方も理解しようとする</h5>
                <p class="card-text">
                    自分の進路についてはっきりイメージしている人、できていない人。どちらもいったん進路のことは忘れて、自分の考えを家族に伝えてみましょう。</br>

                    親と考えが違っていたとしても、分かり合えないとすぐにあきらめるのではなく、なにが違うのか、どうして相手はそう考えるのか聞いてみましょう。
                    親には親がそう考える理由があります。</br>
                    また自分はなぜそう考えるのか親に伝えてみましょう。</br>
                    完全に理解することはできなくても、今までよりお互いを尊重して接することができるようになると思います。
                </p>
            </div>
        </div>

    </div>
</div>
</br>
<div class="img">
    <img class="about-img" src="/nonbiri.jpg">
</div>

<div class="top-btn">
    <%= link_to 'トップページへもどる', pages_top_url, class: 'btn btn-info btn-lg' %></div>
<div class="top-btn">
    <%= link_to '使いかた', pages_usage_url, class: 'btn btn-info btn-lg' %></div>