<h1>humaについて</h1>
<div class="img">
    <img class="about-img" src="/akushu.jpg">
</div>

<h2>おうちの人へ</h2>

<p>humaは、進路について親子が話し合うことをサポートするツールです。子どもの進路は親にとって、大きな関心事です。</br>
    でも、子どもの進路選択の結果は、子ども自身が責任を負っていくものです。
    親の価値観を決して押し付けず、子どもが自分で考え決断することをサポートしていきましょう。</br>
    親はいつまでも子どもを子ども扱いしがちです。
    愛や関心の高さゆえにやってしまいがちですが、子どもを助けるつもりで、子どもの考える力を奪っていないか、よく気をつける必要があります。</br>
    このゲームでは、子どもが心を開いて話せるよう、親は意見や評価を挟まずに虚心坦懐に聞くことを心がけましょう。</br>
    また、親が自分の考えを話すパートでは、恥ずかしがらずに、自分の考えを話しましょう。
    質問されたら、茶化したり誤魔化したりせず、掘り下げて考えてみてください。</br>
    親の価値観、人生観、職業観を聞くのは、子どもにとって貴重な機会です。
    この時間が充実した時間となるようサポートしていきます。</p>

<h2>子どものみなさんへ</h2>

<p> このサービスは、進路について親子が話し合うことをサポートするツールです。</br>
    自分の進路についてはっきりした考えを持っている人、何もイメージできない人。
    どちらも、いったん進路のことは忘れて、自分がどういう考えを持っている人間なのか考えてみましょう。</br>
    家族と真剣に対話することで気づくこと、整理されることがきっとあると思います。</br>
    親と考えが違っているかもしれません。
    違っていたら、「理解してもらえない」「悲しい」と思うのではなく、なにが違うのか、どうしてそう考えるのかよく掘り下げて話してみましょう。
    親には親がそう考える理由があります。</br>
    また自分はなぜそう考えるのか親に伝えてみましょう。</br>
    完全に理解することはできなくても、今までより落ち着いて話し合いができるようになるはずです。
</p>

<div class="top-btn">
    <div class="top-btn2">
        <%= link_to 'トップページへもどる', pages_top_url, class: 'btn btn-info' %></div>
    <div class="top-btn3">
        <%= link_to '使いかた', pages_usage_url, class: 'btn btn-info' %></div>
</div>