<h1>終了</h1>
<p>お疲れさまでした。</br>
    話し手を交代して、次の話し手の対話ゲームを開始してください。</br>
    全員が話し手を終わらせたら、次のコースへ進んでください。</p>

<div class="top-btn">

    <div class="top-btn2">
        <%= link_to '新しい話し手でスタート', pages_game_url, class: 'btn btn-info' %></div>

</div>