<h2>終了</h2>
<div class="img">
    <img class="about-img" src="/love.jpg">
</div>
</br>

<div class="container container-m">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="reflection">

                <p>お疲れさまでした。</br>
                    話し手を交代して、次の話し手の対話ゲームを開始してください。</br>
                    全員が話し手を終わらせたら、次のコースへ進んでください。</p>

                <div class="top-btn">

                    <div class="top-btn2">
                        <%= link_to '新しい話し手でスタート', pages_game_url, class: 'btn btn-info btn-lg' %></div>

                </div>
                <p>進路編まで終わったら、進路のはなしをしよう、へ進んでください。
                </p>

                <div class="top-btn">
                    <div class="top-btn2">
                        <%= link_to '進路のはなしをしよう', pages_future_url, class: 'btn btn-info btn-lg' %></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
</br></br>