<h2>話しにくそうにしているとき</h2>

<div class="container container-m">
    <div class="row">
        <div class="col-md-6">
            <h4>話し手の方へ</h4></br>
            <p>・言いたくないことを無理に言う必要はありません。そんなときは、「言葉が出てこない」とか「今は言いたくない」と答えて構いません。</p>
            <p>・ゆっくり考えて構いません。このゲームでは深く考えることが最も大事です。</p>
            <p>・テーマからずれているのでは？と心配する必要はありません。テーマに沿っていることよりも、話し手が自分の考えていることを口に出すことが大事です。</p>
            <p>・テーマが話しにくければ、別のテーマに変えても構いません。</p>
        </div>
        <div class="col-md-6">
            <h4>聞き手の方へ</h4></br>
            <p>・質問の意図がわかりにくい場合は、かみ砕いて話したり、答えやすい質問に言い換えてみてください。</p>
            <p>・無理に聞きだそうとしないようにしましょう。</p>
            <p>・話し手に嫌な思いをさせていないか、気をつけましょう。</p>
            <p>・話し手をリスペクトする態度を示していますか？話し手の意見を否定する態度はとらないようにしましょう。鼻で笑ったり、馬鹿にする態度も含みます。</p>
            <p>・自分の考えに誘導しようとしないようにしましょう。</p>
        </div>

    </div>


    </br>


    <div class="img">
        <img class="about-img" src="/hanashi.jpg">
    </div>