<h2>話をもっと掘りさげたいとき</h2>
<h2>話し手の方へ</h2>
<p>・この場では、いつもは話さないような、とりとめもない話、オチのない話をしてみてください。
    聞き手にとっては、さらなる質問のヒントになります。</p>
<p>・一貫性がなくても、いつも言ってることと違ってても構いません。何が言いたいのか途中でわからなくなっても構いません。</p>
<p>・むしろ、考えがまとまらないくらいのほうが、いつも自分が意識しているより一段深い自分自身の考えに近づいています。</p>
</br>
<h2>聞き手の方へ</h2>
<p>・</p>
<p></p>
</br>
<div class="img">
    <img class="about-img" src="/nonbiri.jpg">
</div>