<h2>進路のはなしをしよう</h2>
</br>
<div class="img">
    <img class="about-img" src="/houmon.jpg">
</div>
</br>
<div class="reflection">
    <h4>親から子どもに聞いてください</h4>
    <div class="container container-m">
        <div class="row">
            <div class="col-md-6 warm">
                <p>・今、決めなければいけないことは何ですか</p>
            </div>
            <div class="col-md-6 warm">
                <p>・自分の中で結論は出ていますか</p>
            </div>
        </div>
    </div>

</div>
</br>

<div class="container container-m">
    <div class="row">
        <div class="col-md-6 warm">
            <img src="/hana.jpg" height="240" alt="img" class="img-fulied">
            <h5>結論が出ている場合</h5>
            <div class="rule2">
                <p>・子どもは、親（保護者）に自分の考えを伝えてみましょう。意見とそう考える理由を話してください。</p>
                <p>・親（保護者）は子どもの考えと理由を聞いてどう思いましたか？</br>
                    理解できなかったとしても、まずは、子どもが考える理由を掘り下げて聞きましょう。</br>
                </p>
                <p>・親（保護者）は、子どもの考えを聞いてみて、それでも自分の望む方向と違うと思う場合は、自分の考えとそう考える理由を話しましょう。</p>
                <p>・子どもは親（保護者）の意見を聞いて、納得できない場合は、「自分は必ずしもそうだと思わない」「◯◯のような場合もあるのではないか」など、理由を示して話しましょう。</p>

                <p>・経済面や家族の状況により、必ずしも子どもが望む進路の選択ができないことがあります。その場合、親（保護者）は、状況をきちんと説明し、子どもの将来のために協力できることを話しましょう。</p>
            </div>

        </div>
        <div class="col-md-6 warm">
            <img src="/nonbiri.jpg" height="240" alt="img" class="img-fulied">
            <h5>決めかねている場合</h5>
            <div class="rule2">
                <p>・何と何を迷っていますか。その選択肢を選びたい理由を話してみましょう。</p>
                <p>・次に、それぞれのメリット、デメリットを親（保護者）に対して説明してください。</p>
                <p>・親（保護者）はそのメリット、デメリットの検討を聞いて、どう思いましたか？検討が足りないと思うところがあれば指摘してください。</p>
                <p>・子どもが決めかねている理由はなんでしょうか。学力など能力で不安なのでしょうか。その場合は、学校の先生に考えを伝えて相談してみましょう。</p>
                <p>・選択肢さえも思い浮かばない場合、親（保護者）と子で一緒に、どんな選択肢があるかじっくり考えてみましょう。</p>
            </div>
        </div>

    </div>
</div>

<h4>以上で全て終了です。お疲れさまでした。</h4>

<div class="top-btn">
    <div class="top-btn2">
        <%= link_to 'トップページへもどる', pages_top_url, class: 'btn btn-info' %>
    </div>
</div>