<h1>進路のはなしをしよう</h1>
<div class="img">
    <img class="about-img" src="/houmon.jpg">
</div>
<h3>子どもに聞きます</h3>

<p>・今、決めなければいけないことは何ですか</p>
</br>
<p>・自分の中で結論は出ていますか</p>
</br>

<h3>結論が出ている場合</h3>

<p>・子どもは、親（保護者）に自分の考えを伝えてみましょう。意見とそう考える理由を話してください。</p>
<p>・親（保護者）は子どもの考えと理由を聞いてどう思いましたか？</br>
    理解できなかったり、否定したくなる考えであったとしても、まずは、子どもが考える理由を掘り下げて聞きましょう。</br>
    </br>・逆にその決断に対して理解できていると思っている場合でも、子どもから説明してもらってください。
    </br>
    ・質問をするときは、対話ゲームに出てきた、「いつからそう思うようになったのか」「もし◯◯であっとしてもそう思うか」などの質問文を使ってみてください。</p>
<p>・親（保護者）は、子どもの考えを聞いてみて、それでも自分の望む方向と違うと思う場合は、自分の考えとそう考える理由を話しましょう。</p>
<p>・子どもは親（保護者）の意見を聞いて、納得できない場合は、「自分は必ずしもそうだと思わない」「◯◯のような場合もあるのではないか」など、理由を示して話しましょう。</p>
<p>・子どもの進路の選択は、子ども自身がその結果の責任を負うことになります。そのことをもう一度考えてみましょう。</p>
<p>・経済面や家族の状況により、必ずしも子どもが望む進路の選択ができないことがあります。その場合、親（保護者）は、状況をきちんと説明し、できる範囲で、子どもの将来のために協力できることを話しましょう。</p>

<h3>決めかねている場合</h3>
<p>・何と何を迷っていますか。その選択肢を選びたい理由を話してみましょう。</p></br>
<p>・次に、それぞれのメリット、デメリットを親（保護者）に対して説明してください。</p></br>
<p>・親（保護者）はそのメリット、デメリットの検討を聞いて、どう思いましたか？検討が足りないと思うところがあれば指摘してください。</p>
<p>・子どもが決めかねている理由はなんでしょうか。学力など能力で不安なのでしょうか。その場合は、学校の先生に考えを伝えて相談してみましょう。</p>
<p>・選択肢さえも思い浮かばない場合、親（保護者）と子で一緒に、どんな選択肢があるかじっくり考えてみましょう。</p>
<p></p>

<div class="top-btn">
    <div class="top-btn2">
        <%= link_to 'トップページへもどる', pages_top_url, class: 'btn btn-info' %>
    </div>
</div>