<h2>対話ゲームをはじめる</h2>

<div class="img">
    <img class="about-img" src="/eieio.jpg">
</div>

<div class="container container-m">
    <div class="row">
        <div class="col-md-4">
            <h3 class="haikei">大事なルール</h3>
            <p class="step">人の話をちゃんと聞く</p>
            <p class="step">お互いの考え方を尊重する</p>
            <p class="step">相手に伝わるように話す</p>
        </div>
        <div class="col-md-4">

            <h3 class="haikei">話すときに気をつけること</h3>
            <p class="step">自分の「考え」と「そう考える理由」を話す</p>
            <p class="step">言いたくないことは言わなくていい</p>
            <p class="step">慌てて話さず、じっくり考える</p>
        </div>
        <div class="col-md-4">

            <h3 class="haikei">質問するときに気をつけること</h3>
            <p class="step">質問以外の発言はしない</p>
            <p class="step">相手のことを理解しようとする気持ちで聞く</p>
            <p class="step">無理に聞き出そうとしない</p>

        </div>
    </div>
</div>
</br></br>
<h4>準備ができたら、テーマ選定ボタンを押してください。</h4>
<div class="container container-m">
    <div class="row">
        <div class="col-md-4">
            <div class="top-btn">
                <%= link_to  category_themes_random_url(category_id: 4)do %>
                <img src="/step1.png" height="100" alt="img" class="img-fulied">
                <% end %>
            </div>
            <p>STEP1では、ふだん話さないけど、世の中に対して思っていることを話します。</p>
        </div>

        <div class="col-md-4">
            <div class="top-btn">
                <%= link_to  category_themes_random_url(category_id: 2)do %>
                <img src="/step2.png" height="100" alt="img" class="img-fulied">
                <% end %>
            </div>
            <p>STEP2では、自分のことを掘り下げて話します。</p>
        </div>
        <div class="col-md-4">
            <div class="top-btn">
                <%= link_to  category_themes_random_url(category_id: 3)do %>
                <img src="/step3.png" height="100" alt="img" class="img-fulied">
                <% end %></div>
            <p>STEP3では、人生・仕事・お金など生き方をテーマに話します。</p>
        </div>
    </div>
    </br></br>