<h1>対話ゲームをはじめる</h1>

<div class="img">
    <img class="about-img" src="/eieio.jpg">
</div>

<h3>話し手</h3>
<p>それでは、対話ゲームをスタートします。
    まず、親（大人）から（複数いる場合は一人ずつ）話し手となって、自己開示します。
    大人が終わったら、子どもが話し手となります。</p>

<p>準備ができたら、テーマ選定ボタンを押してください。</p>

</br>
</br>

<p>まずは話しやすいテーマの「初級編」から始めましょう。</p>
<div class="top-btn">
    <%= link_to '　　　初級編　　　',  category_themes_random_url(category_id: 1), class: 'btn btn-info btn-lg' %></div>
<p>慣れてきたら、「中級編」でもう少し深い自己開示にチャレンジしましょう。</p>
<div class="top-btn">
    <%= link_to '　　　中級編　　　',  category_themes_random_url(category_id: 2), class: 'btn btn-info btn-lg' %></div>
<p>最後は、「進路編」で進路について考えるための心の準備をしましょう。</p>
<div class="top-btn">
    <%= link_to '　　　進路編　　　',  category_themes_random_url(category_id: 3), class: 'btn btn-info btn-lg' %></div>