<h1>対話ゲームをはじめる</h1>

<div class="img">
    <img class="about-img" src="/eieio.jpg">
</div>

<h3>話し手</h3>
<p>それでは、対話ゲームをスタートします。
    まず、親（大人）から（複数いる場合は一人ずつ）話し手となって、自己開示します。
    大人が終わったら、子どもが話し手となります。</p>

<p>準備ができたら、テーマ選定ボタンを押してください。</p>

</br>
</br>

<p>STEP1では、ふだん話さないけど、世の中に対して思っていることを話します。</p>
<div class="top-btn">
    <%= link_to 'STEP1のテーマを表示する',  category_themes_random_url(category_id: 1), class: 'btn btn-outline-secondary btn-lg' %></div>
<p>STEP2では、自分のことを掘り下げて話します。</p>
<div class="top-btn">
    <%= link_to 'STEP2のテーマを表示する',  category_themes_random_url(category_id: 2), class: 'btn btn-outline-secondary btn-lg' %></div>
<p>STEP3では、人生・仕事・お金など生き方をテーマに話します。</p>
<div class="top-btn">
    <%= link_to 'STEP3のテーマを表示する',  category_themes_random_url(category_id: 3), class: 'btn btn-outline-secondary btn-lg' %></div>