<h2>哲学しつもん探し</h2>
<div class="container container-m">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h5>つぎのテーマから哲学的な問い（しつもん）をひとりずつ出してください。</h5>
            <h6>哲学的な問いの例</h6>
            <h6>テーマ：病気</h6>
            <h6>いつから病気があるのか／病気の何が問題か／完全に病気でない人はいるのか／病は気からは本当か／病的と病気はどう違うか／感染症は他の病気とどう違うか　など</h6>
            </br>
            <div class="category">
                <h2> <%= %w[宇宙 海 コンピュータ 動物 スマホ 健康 都道府県 アメリカ 神社 祭り 歌 武器 テスト 季節 歴史 米 酒 ペット 葬儀 野球 オリンピック 映画 靴].sample %>
                </h2>
            </div>
            </br>
            <h5>タイマーか時計で1分間測ってください。</h5>
            <h5>沈黙が続いても、気にしないで考え続けてください。</h5>
            <h5>誰もがうなる深い問いを出した人に拍手。</h5>
            <h5>質問を考える能力を高めると、人の話を理解しようとするとき、適切な質問ができるようになります。</h5>
            <div class="top-btn">
                <div class="top-btn2">
                    <%= link_to 'テーマを選びなおす', pages_philo_url, class: 'btn btn-outline-secondary btn-lg' %></div>
            </div>
            <div class="img">
                <img class="about-img" src="/yubi.jpg">
            </div>
            </br>
            <h5>ウォーミングアップが終わったら、</br>対話ゲームを始めてください。</h5>
            <div class="top-btn">
                <div class="top-btn2">
                    <%= link_to 'ゲームスタート', pages_game_url, class: 'btn btn-info btn-lg' %></div>
            </div>


        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>



</br>
</br>