<h1>振り返り②</h1>

<h3>聞き手</h3>

<p>質問をしてみて</br>
    </br>
    ・話し手へ質問するのはどんな気持ちでしたか</br>
    </br>
    ・話し手の話した内容で初めて知ったことは何ですか</br>
    </br>
    を話してください。</br>
    </br>
    聞き手が全員話したら次へ進んでください。

</p>

<div class="top-btn">

    <div class="top-btn3">
        <%= link_to '振り返り終了', pages_close_url, class: 'btn btn-info' %></div>
</div>