<h2>話し手の振り返り</h2>

<div class="img">
    <img class="about-img" src="/bikkuri.jpg">
</div>

<div class="container container-m">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="reflection">
                <p>今の対話ゲームで</br>
                    </br>
                    ・よく考えられましたか</br>
                    </br>
                    ・自分の考えをきちんと伝えられましたか</br>
                    </br>
                    ・新たに気づいたことは？</br>
                    </br>
                    ・自分の考えを話してみて思ったことは？</br>
                    </br>
                    を話してください。時間は1分程度が目安です。</br>
                    </br>
                    話し手の振り返りが終わったら、聞き手の振り返りです。
                </p>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>

</br>
<div class="top-btn">
    <%= link_to '聞き手の振り返り', pages_reflection2_url, class: 'btn btn-block btn-info btn-lg' %>
</div>
</br>