<h1>振り返り①</h1>

<h3>話し手</h3>
<div class="img">
    <img class="about-img" src="/bikkuri.jpg">
</div>
<p>今の対話ゲームで</br>
    </br>
    ・新たに気づいたこと</br>
    </br>
    ・自分の考えを話してみて思ったこと</br>
    </br>
    を話してください。時間は1分程度が目安です。</br>
    </br>
    話し手の振り返りが終わったら、聞き手の振り返りです。
</p>

<div class="top-btn">

    <div class="top-btn3">
        <%= link_to '　　聞き手の振り返り　　', pages_reflection2_url, class: 'btn btn-info' %></div>
</div>