<h1>ゲームをはじめる</h1>

<div class="img">
    <img class="about-img" src="/yubi.jpg">
</div>
<h2>1.大人が話し手となってはじめる</h2>

<p>最初に、親（大人）が話し手となって対話をします。</br>
    話し手は、選ばれたテーマについて、自分の考えを話します。</br>
    そのとき、「①考えと②そう考える理由」を話してください。</br>
    </br>
    理由を話すのを忘れていたら他の人が教えてあげてください。</br>
    話す時間は3分程度が目安です。</br>
    また、選ばれたテーマが話しにくい場合、変更することも可能です。</p>

</br>
<h2>2.聞き手は順番に質問する</h2>
<p>次に、話し手以外の参加者は、話し手に対し、質問をしていきます。</br>
    </br>
    質問は、話し手の考えを整理し、他の人に理解してもらうための大事なステップです。</br>

    一人ずつ、ランダムに設定される質問カードを見て、話し手に質問をしてください。</br>
    </br>
    このとき、質問以外のこと、自分の考えや話し手への評価は絶対に話さないでください。</br>
    これは、このゲームの中で最も大事なルールです。
    「私もそう思う」や「いい考えだと思う」など相手を認めるような表現もダメです。</p>
</br>
<h2>3.話し手を交代する</h2>
<p>大人が終わったら、子どもが話し手となります。</br>
    話し手が対話のテーマについて、自分の考えを話します。</br>
    質問の仕方は最初の場合と同じです。</p>

</br>
</br>
<p>趣旨や流れを理解しましたか？</br>
    </br>
    確認できたら、対話ゲームを始めましょう。</br>
    </br>
<div class="img">
    <img class="about-img" src="/hanashi3.jpg">
</div>
</br>
スムーズにいかないときは、「話し手が話しにくそうにしているとき」や「もっと話を掘り下げたいとき」のボタンがありますので心配はいりません。</br>
</br>
初めてこのゲームをする場合はウォーミングアップから始めましょう。</p>
</br>
<div class="top-btn">
    <div class="top-btn2">
        <%= link_to '　　　スタート　　　', pages_game_url, class: 'btn btn-info' %></div>
    <div class="top-btn2">
        <%= link_to 'ウォーミングアップ', pages_shiritori_url, class: 'btn btn-info' %></div>
</div>