<div class="about-main">

    <div class="img">
        <img class="top-img" width="90%" src="/logo.png">
    </div>
    </br>
    <p>
        humaは、家族で進路のことなど大事な話をするときに、親も子も感情的にならずに、
        素直に話ができる関係性をつくるための対話サポートアプリです。</br>
        </br>
        画面の指示にしたがって、話をしたり、質問したりするだけで、
        お互いの価値観を共有したり、さらに深めあったりすることができます。</br>
        </br>
        進路の決断に正解はありませんが、子どもが自分の考えをよく整理したうえで、決断するためのサポートをします。
    </p>

    <div class="top-btn">
        <div class="top-btn2">
            <%= link_to 'わたしたちの思い', pages_about_url, class: 'btn btn-outline-secondary btn-lg' %></div>
    </div>
    <div class="top-btn">
        <div class="top-btn2">
            <%= link_to '使いかた', pages_usage_url, class: 'btn btn-outline-secondary btn-lg' %></div>
    </div>
    <div class="top-btn">
        <div class="top-btn2">
            <%= link_to 'ウォーミングアップする', pages_warmup_url, class: 'btn btn-info btn-lg' %></div>
    </div>
    <div class="top-btn">
        <div class="top-btn2">
            <%= link_to 'ゲームをはじめる', pages_game_url, class: 'btn btn-info btn-lg' %></div>
    </div>

</div>