<div class="about-main">

    <div class="img">
        <img class="top-img" width="60%" src="/logo.png">
    </div>
    </br>

    <div class="container container-m">
        <div class="row">
            <div class="col-md-4 warm">

                <p class="haikei2">humaは、家族で進路のことなど大事な話をするときに、親も子も感情的にならずに、
                    素直に話ができる関係性をつくるための対話サポートアプリです。</p>

            </div>
            <div class="col-md-4 warm">


                <p class="haikei2">画面の指示にしたがって、話をしたり、質問したりするだけで、
                    お互いの価値観を共有したり、さらに深めあったりすることができます。</p>
            </div>
            <div class="col-md-4 warm">
                <p class="haikei2">進路の決断に正解はありませんが、子どもが自分の考えをよく整理したうえで、決断するためのサポートをします。</p>
            </div>
        </div>
    </div>

    </br></br>
    <div class="container container-m">
        <div class="row">
            <div class="col-md-3 warm">
                <img src="/wood.png" height="80" alt="img" class="img-fulied">
                <div class="top-btn">
                    <%= link_to 'わたしたちの思い', pages_about_url, class: 'btn btn-block btn-outline-secondary btn-lg' %>
                </div>
            </div>
            <div class="col-md-3 warm">
                <img src="/cup.png" height="80" alt="img" class="img-fulied">
                <div class="top-btn">
                    <%= link_to '使いかた', pages_usage_url, class: 'btn btn-block btn-outline-secondary btn-lg' %>
                </div>
            </div>
            <div class="col-md-3 warm">
                <img src="/shoes.png" height="80" alt="img" class="img-fulied">
                <div class="top-btn">
                    <%= link_to 'ウォーミングアップ', pages_warmup_url, class: 'btn btn-block btn-outline-secondary btn-lg' %>
                </div>
            </div>
            <div class="col-md-3 warm">
                <img src="/cycle.png" height="80" alt="img" class="img-fulied">
                <div class="top-btn">
                    <%= link_to 'ゲームをはじめる', pages_game_url, class: 'btn btn-block btn-outline-secondary btn-lg' %>
                </div>
            </div>
        </div>
    </div>
</div>

</br></br>