<div class="about-main">


    <img class="top-img" src="/key.png">
    <h2>humaとは</h2>
    </br>
    <p>進路の話しあいサポートツール「huma」は、対話ゲームを通じて、親子の大事なコミュニケーションをサポートします。
    </p>
    <p>親子って、いちばん身近で大切な存在なのに、なぜか素直に話しづらい関係ではありませんか？</br>
        この対話ゲームでは、親も子も価値観を開示する対話を行い、心を開いて話せる関係性をつくります。</br>
        </br>
        進路の決断に正解はありませんが、子どもが自分の考えをよく整理したうえで、決断するためのサポートをします。
    </p>

    <div class="top-btn">
        <div class="top-btn2">
            <%= link_to 'humaについて', pages_about_url, class: 'btn btn-info btn-lg' %></div>
    </div>
    <div class="top-btn">
        <div class="top-btn2">
            <%= link_to '使いかた', pages_usage_url, class: 'btn btn-info btn-lg' %></div>
    </div>
    <div class="top-btn">
        <div class="top-btn2">
            <%= link_to 'ゲームをはじめる', pages_game_url, class: 'btn btn-info btn-lg' %></div>
    </div>
</div>