<h1>つかいかた</h1>
<div class="img">
    <img class="about-img" src="/gimon.jpg">
</div>
<h2>STEP1</br>
    全体の流れを把握しよう</h2>

<p>趣旨とルールを確認します。</br>
    この対話ゲームでは、テーマについて話す人、話し手と質問する人、聞き手に分かれます。</br>
    話し手が自分のことを整理して話すことがこのゲームの目的です。</br>
    聞き手は質問でそれをサポートしていきます。</br>
    話し手が自分でも気づかなかったような考えに気づき、それを言葉にして口に出すことができたらゲームは成功です。</p>

<h2>STEP2</br>
    対話ゲームしてみよう</h2>

<p>① 話し手は、ランダムに選ばれたテーマについて考えを話します。</br>
    ② 話し手以外の人は、ランダムに選ばれた質問カードに沿って質問します。</br>
    ③ 全員が質問し終わったらそのテーマは終了し、話し手を交代します。</br>
    </br>


    初級編から進路編まで終わったらSTEP3へ。</p>

<h2>STEP3</br>
    進路のことを話そう</h2>
<p>進路について話しましょう。サポートがあるので、落ち着いて話せます。</p>

<div class="top-btn">

    <div class="top-btn3">
        <%= link_to 'ゲームを開始する', pages_start_url, class: 'btn btn-info' %></div>
</div>