<h1>つかいかた</h1>
<h2>STEP1</br>
    全体の流れを把握しよう</h2>

<p>趣旨とルールを確認します。</br>
    この対話ゲームでは、テーマについて話す人、話し手と質問する人、聞き手に分かれます。</br>
    話し手が自分のことを整理して話すことがこのゲームの目的です。</br>
    聞き手は質問でそれをサポートしていきます。</br>s
    話し手が自分でも気づかなかったような考えに気づき、それを言葉にして口に出すことができたらゲームは大成功です。</p>

<h2>STEP2</br>
    対話ゲームしてみよう</h2>

<p>①話し手がランダムに選ばれたテーマについて考えを話す</br>
    ②話し手以外の人は質問する</br>
    ③全員が質問し終わったらそのテーマは終了し話し手を交代する</br>
    初級編から進路編まで終わったら次のステップへ</p>

<h2>STEP3</br>
    進路のことを話そう</h2>

<div class="top-btn">

    <div class="top-btn3">
        <%= link_to 'ゲームを開始する', pages_start_url, class: 'btn btn-info' %></div>
</div>