<h1>つかいかた</h1>
<div class="img">
    <img class="about-img" src="/gimon.jpg">
</div>
<h2>STEP1</br>
    このゲームでは何をするの？</h2>

<p>
    この対話ゲーム「huma」では、テーマについて話す人（話し手）と質問する人（聞き手）に分かれます。</br>
    話し手が自分のことを整理して話すこと、聞き手は相手の話を決めつけずにしっかりと聞くこと、「huma」はそれをサポートします。</br>
    ルールにしたがって話すことで、ふだんは話しにくい本当の思いを伝えることができます。</br></br>
    対話ゲームは、２人から４人程度を想定しています。</br>
    初級編から進路編まで３時間程度かかりますので、時間がとれるときに行ってください。</br>
</p>

<h2>STEP2</br>
    対話ゲームしてみよう</h2>

<p>① 話し手は、出題されたテーマについて考えを話します。</br>
    ② 話し手以外の人は、質問カードに沿って質問します。</br>
    ※ テーマも質問カードも、ランダムに設定されます。</br>
    ③ 全員が質問し終わったらそのテーマは終了し、話し手を交代します。</br>
    </br></p>
<div class="category">
    <h4>初級編</h4>
    <p>楽しく話しやすいテーマです</p>
    <h4>中級編</h4>
    <p>深く人間性を明らかにするテーマです</p>
    <h4>進路編</h4>
    <p>お金や仕事、生き方について考えるテーマです</p>

</div>
</br>

<p>初級編から進路編まで終わったらSTEP3へ。</p>
<h2>STEP3</br>
    進路のことを話そう</h2>
<p>進路について話しましょう。よく考えて、落ち着いて話せるようサポートがあります。</p>
</br>
<div class="img">
    <img class="about-img" src="/hanashi3.jpg">
</div>
</br>
<div class="top-btn">

    <div class="top-btn3">
        <%= link_to '　ゲームを開始する　', pages_start_url, class: 'btn btn-info' %></div>
</div>