<h2>humaのつかいかた</h2>
<div class="img">
    <img class="about-img" src="/gimon.jpg">

    <div class="container container-m">
        <div class="row">
            <div class="col-md-4">
                <img src="/donhito2.png" height="140" alt="img" class="img-fulied">
                <p class="step">家族など身近な人が2〜4人で使います。</p>
                <p class="step">学校などから「進路についておうちの人と話し合ってください」と言われた高校生が主な対象です。</p>
                <p class="step">そのほか、身近な人どうしで価値観を共有したい方、感情的にならずに話したい方にもおすすめです。</p>
            </div>
            <div class="col-md-4">
                <img src="/donkou.png" height="140" alt="img" class="img-fulied">
                <p class="step">ゆっくりと邪魔されずに自分の考えを話し、相手の話を決めつけずに聞くトレーニングになります。</p>
                <p class="step">考え方の背景まで理解が深まり、お互いを尊重しあえるようになります。</p>
            </div>
            <div class="col-md-4">
                <img src="/nanisuru2.png" height="140" alt="img" class="img-fulied">
                <p class="step">話し手を決めます。</p>
                <p class="step">出されたテーマについて話し手が考えを述べます。</p>
                <p class="step">聞き手は質問カードを参考に質問して、話し手の考えを理解しようと努めます。</p>
                <p class="step">対話の振り返りまで終わったら、次の話し手へ交代します。</p>
            </div>
        </div>
    </div>

    </br>
    <img src="/hanashi2.jpg" height="140" alt="img" class="img-fulied">
    </br>
    </br>
    <h3>利用のながれ</h3>
    <div class="container container-m">
        <div class="row">
            <div class="col-md-4">
                <img src="/warmup.png" height="100" alt="img" class="img-fulied">
                <h4 class="step-title">ウォーミングアップ</h4>
                <p class="step">２種類のウォーミングアップゲームがあります。しりとりゲームと問いさがしゲームです。</p>
            </div>
            <div class="col-md-4">
                <img src="/step1.png" height="100" alt="img" class="img-fulied">
                <h4 class="step-title">身の回りのことについて話します</h4>
                <p class="step">日常のなかに「なぜだろう」という視点をもって考えてみましょう。</p>
            </div>
            <div class="col-md-4">
                <img src="/step2.png" height="100" alt="img" class="img-fulied">
                <h4 class="step-title">自分について話します</h4>
                <p class="step">価値観を掘り下げるテーマです。じっくり考えるトレーニングです。</p>
            </div>
        </div>
    </div>

    <div class="container container-m">
        <div class="row">
            <div class="col-md-4">
                <img src="/step3.png" height="100" alt="img" class="img-fulied">
                <h4 class="step-title">生き方について話します</h4>
                <p class="step">仕事、お金、人生などをにテーマに話します。</p>
            </div>
            <div class="col-md-4">
                <img src="/goal.png" height="100" alt="img" class="img-fulied">
                <h4 class="step-title">進路の話し合いをします</h4>
                <p class="step">進路の希望を提出する必要がある場合、子どもの考えを聞いて、一緒に考える時間を持ちます。</p>
            </div>
            <div class="col-md-4">
                <img src="/clock.png" height="90" alt="img" class="img-fulied">
                <h4 class="step-title">所要時間</h4>
                <p class="step">全体の所要時間は2〜5時間程度になります。時間の余裕があるときに、リラックスして行ってください。</p>
            </div>
        </div>
    </div>
    </br>
    <img src="/hanashi3.jpg" height="140" alt="img" class="img-fulied">
</div>
</br>
</br>

<p>スマホまたはPC、タブレットを１台と時計またはアラームを準備して始めましょう。</p>

<div class="top-btn">
    <div class="top-btn3">
        <%= link_to 'ウォーミングアップする', pages_warmup_url, class: 'btn btn-info btn-lg' %></div>
</div>
<div class="top-btn">
    <div class="top-btn3">
        <%= link_to 'ゲームを開始する', pages_game_url, class: 'btn btn-info btn-lg' %></div>
</div>