<h1>ウォーミングアップ</h1>
<div class="container container-m">
    <div class="row">
        <div class="col-md-6">
            <img src="/shiritorigame.png" height="260" alt="img" class="img-fulied">
            <p class="step">指定されたテーマでしりとりしてください。</p>
            <p class="step">時計を用意してください。制限時間は1分です。何個出せるでしょうか。</p>
            <p class="step"></p>
            <div class="top-btn">
                <div class="top-btn3">
                    <%= link_to 'しりとりゲームへ', pages_shiritori_url, class: 'btn btn-outline-secondary btn-lg' %></div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/tetsugaku.png" height="260" alt="img" class="img-fulied">
            <p class="step">哲学的な質問とは、簡単に答えが出ない根源的な問いのこと。</p>
            <p class="step">身近なことから、。</p>
            <div class="top-btn">
                <div class="top-btn3">
                    <%= link_to '哲学しつもん探しへ', pages_philo_url, class: 'btn btn-outline-secondary btn-lg' %></div>
            </div>
        </div>

    </div>
</div>
<div class="top-btn">
    <div class="top-btn3">
        <%= link_to 'ゲームを開始する', pages_game_url, class: 'btn btn-info btn-lg' %></div>
</div>