// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.step {
  text-align: left;
  margin: 10px;
}
.step-title {
  margin: 10px;
}

.omoi {
  margin: 30px;
}

div.container-m {
  margin-top: 40px;
}

.img-fulied {
  margin: 10px;
  border-radius: 10px;
}

.about-main {
  // padding: 180px 8% 0;
  color: rgb(49, 48, 48);
}

.about-main h2 {
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

.about-main p {
  font-size: 16px;
  text-align: left;
}

.top-btn {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.top-btn2 {
  margin-right: 20px;
  color: white;
}
.fade-in-bottom {
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
